<%= form_for @customer do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :mobile %><br>
<%= f.text_field :mobile %>
</p>
<p>
<%= f.label :car_name %><br>
<%= f.text_field :car_name %>
</p>
<p>
<%= f.label :car_plate %><br>
<%= f.text_field :car_plate %>
</p>
<p>
<%= f.label :entery_date_time %><br>
<% if @customer.id.nil? %>
<%= f.datetime_field :entery_date_time, value: DateTime.now.strftime('%Y-%m-%dT%H:%M') %>
<% else %>
<%= f.datetime_field :entery_date_time %>
<% end %>
</p>

<p>
    <%= f.submit %>
</p>
<% end %>