<%= form_for @customer do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :mobile %><br>
<%= f.text_field :mobile %>
</p>
<p>
<%= f.label :car_name %><br>
<%= f.text_field :car_name %>
</p>
<p>
<%= f.label :car_plate %><br>
<%= f.text_field :car_plate %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>